{:deps
 {org.reactivestreams/reactive-streams {:mvn/version "1.0.4"}
  cloroutine/cloroutine {:mvn/version "13"}}

 :paths ["src" "target/classes"]

 :aliases
 {:tck
  {:extra-deps {org.reactivestreams/reactive-streams-tck {:mvn/version "1.0.4"}}}

  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args {:source-paths ["src"]
               :codox {:writer codox.writer.html/write-docs}}}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :artifact "target/missionary-b.47.jar"}}

  :clj-test
  {:extra-deps  {com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :extra-paths ["test"]
   :main-opts   ["-m" "cognitect.test-runner"]}

  :clj-test-watch {:extra-deps {lambdaisland/kaocha {:mvn/version "1.69.1069"}}
                   :extra-paths ["test"]
                   :exec-fn missionary.test-dev/run}
  :cljs-test
  {:extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.0"}
                 org.clojure/clojurescript {:mvn/version "1.11.60"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts   ["-m" "cljs-test-runner.main"]}}}
