{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  org.reactivestreams/reactive-streams {:mvn/version "1.0.2"}
  cloroutine/cloroutine {:mvn/version "10"}}

 :paths ["src" "target/classes"]

 :aliases
 {:tck
  {:extra-deps {org.reactivestreams/reactive-streams-tck {:mvn/version "1.0.2"}}}

  :clj-test
  {:extra-deps  {com.cognitect/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :extra-paths ["test"]
   :main-opts   ["-m" "cognitect.test-runner"]}

  :cljs-test
  {:extra-deps  {olical/cljs-test-runner
                 {:mvn/version "3.6.0"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts   ["-m" "cljs-test-runner.main"]}}}