{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}
   ["Tutorials" {}
    ["Hello task" {:file "doc/tutorials/hello_task.md"}]
    ["Hello flow" {:file "doc/tutorials/hello_flow.md"}]
    ["Comparison to RxJava" {:file "doc/tutorials/rx_comparison.md"}]]]]}
